<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1 class="heading">Angular CRUD</h1>
            <div class="d-flex">
                <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="Add()">Add Employee</button>
            </div>
    </div>
</nav>

<table class="table table-striped">
    <thead>
        <th>Sl No.</th>
        <th>Employee ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Mobile No.</th>
        <th>Email</th>
        <th>Salary</th>
        <th colspan="2">Action</th>
    </thead>
    <tbody *ngFor="let list of EmployeeList; let i=index">
        <td>{{i+1}}</td>
        <td>{{list.id}}</td>
        <td>{{list.firstname}}</td>
        <td>{{list.lastname}}</td>
        <td>{{list.mobileno}}</td>
        <td>{{list.email}}</td>
        <td>{{list.salary}}</td>
        <td>
            <button class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="editEmployeeDetails(list)">Edit</button>
            <button class="btn btn-outline-danger mx-3" (click)="deleteEmployee(list)">Delete</button>
        </td>
    </tbody>
</table>

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form autocomplete="false" [formGroup]="Employee">
                <div class="mb-3">
                  <label for="firstname" class="form-label">First Name</label>
                  <input type="text" class="form-control" id="firstname" aria-describedby="First Name" formControlName="firstname">
                </div>
                <div class="mb-3">
                  <label for="lastname" class="form-label">Last Name</label>
                  <input type="text" class="form-control" id="lastname"aria-describedby="Last Name" formControlName="lastname">
                </div>
                <div class="mb-3">
                    <label for="mobileno" class="form-label">Mobile No</label>
                    <input type="text" class="form-control" id="mobileno"aria-describedby="Mobile Number" formControlName="mobileno">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" id="email"aria-describedby="Email" formControlName="email">
                </div>
                <div class="mb-3">
                    <label for="salary" class="form-label">Salary</label>
                    <input type="text" class="form-control" id="salary"aria-describedby="Salary" formControlName="salary">
                </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="cancel" data-bs-dismiss="modal">Close</button>
          <button *ngIf="!Showupdate" type="button" class="btn btn-primary" (click)="PostEmployeedata()" id="liveToastBtn">Add</button>
          <button *ngIf="Showupdate" type="button" class="btn btn-primary" (click)="updateEmployee()" id="liveToastBtn">Update</button>
        </div>
      </div>
    </div>
  </div>
  
